html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
.font-serif {
  font-family: "Merriweather", serif;
}
.pattern-bg {
  background-image: radial-gradient(#10b981 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: #064e3b;
  opacity: 0.95;
}
.blob {
  border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  animation: morph 8s ease-in-out infinite;
}
@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
  }
  34% {
    border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
  }
  67% {
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
  }
}
